<ul class="pagination center-align">
  <% if max_pages != 0 %>
    <li class="waves-effect <% if page == 1 %>disabled<%end%>">
      <a href=""><i class="material-icons">chevron_left</i>
      </a>
    </li>
    <% i = 1%>
    <% max_pages.times do %>
    <li class="waves-effect <% if page == i %>active<%end%>">
      <a href="?q=<%=q%>&model=<%=model%>&<%=model%>_page=<%=i%>"><%=i%></a>
    </li>
    <% i = i+1 %>
    <%end %>
    <li class="waves-effect <% if page == max_pages || max_pages == 0%>disabled<%end%>">
      <a href="">
        <i class="material-icons">chevron_right</i>
      </a>
    </li>
    <% end %>
  </ul>
