<%= form_with(model: team, local: true) do |form| %>
<div class="card-content">


    <%if team.errors.empty? == false %>
    <div class="input-field">
    <%= form.text_field :name, id: "icon_prefix", autocomplete: "off",class:"validate invalid"%>
      <label for="icon_prefix" class="active green-text text-darken-2">Nome Squadra</label>
      <span class="helper-text" data-error="nome <%=team.errors[:name].to_s.delete('[""]')%>" data-success="riprova">Helper text</span>
    </div>
    <%else%>
    <div class="input-field">
    <%= form.text_field :name, id: "icon_prefix", autocomplete: "off"%>
      <label  for="icon_prefix" class="active green-text text-darken-2">Nome Squadra</label>
    </div>
    <%end%>


  <p class="green-text text-darken-3">Tipologia squadra</p><br>
  <p>
    <label class="checkbox_calcetto" for="calcetto">
      <% if !team.calcetto %>
      <%= form.check_box :calcetto, id:"calcetto" %>
      <% end %>
      <% if team.calcetto %>
      <%= form.check_box :calcetto, id:"calcetto" %>
      <% end %>
      <span>Calcetto</span>
    </label>
    </p>
  <p><br>
    <label class="checkbox_calciotto"  for="calciotto">
      <% if !team.calciotto %>
      <%= form.check_box :calciotto, id:"calciotto" %>
      <% end %>
      <% if team.calciotto %>
      <%= form.check_box :calciotto, id:"calciotto" %>
      <% end %>
      <span>Calciotto</span>
    </label>
  </p>

  <br>
</div>
<div class=" card-action">
    <%= link_to url_for(:back), class: "btn left",style:"color:white !important" do%>
    Indietro<i class=" material-icons left">chevron_left</i>
    <%end%>
    <%= button_tag(type: 'submit', class: "btn right") do %>
    Salva<i class="material-icons left" style="color: white !important">save</i><%end%>
<% end %>
<%= form_tag(team_path(@team),class:"col s4 ", :method => 'delete') do %>
<% end%>
</div>
<div class="section card-content">
  <h4>Cancella squadra<h4>
  <%= button_tag(type: "submit",class: "btn red",data: { confirm: "sei sicuro di volerla cancellare?" } ) do %>
      Cancella<i class="material-icons left">delete</i>
  <% end %>
</div>
