<div class="container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<div class="card">
<div class="card-content">
  <h2><%= t(:edit)%> <%= t(:user) %></h2>




    <%if resource.errors[:name].present? %>
    <div class="input-field">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", id: "icon_prefix",class:"validate invalid"%>
      <label for="icon_prefix" class="active green-text text-darken-2">Nome</label>
      <span class="helper-text" data-error="nome <%=resource.errors[:name].to_s.delete('[""]')%>" data-success="riprova">Helper text</span>
    </div>
    <%else%>
    <div class="input-field">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", id: "name"%>
      <label  for="name" class="active green-text text-darken-2">Nome</label>
    </div>
    <%end%>

    <%if resource.errors[:email].present? %>
    <div class="input-field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "email",class:"validate invalid"%>
      <label for="email" class="active green-text text-darken-2">Email</label>
      <span class="helper-text" data-error="email <%=resource.errors[:email].to_s.delete('[""]')%>" data-success="riprova">Helper text</span>
    </div>
    <%else%>
    <div class="input-field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "icon_prefix"%>
      <label  for="icon_prefix" class="active green-text text-darken-2">Email</label>
    </div>
    <%end%>



    <div class="field">

      <div class="file-field input-field valign-wrapper">
        <div class="btn-flat circle">
          <% if current_user && current_user.avatar.url.present? %>
           <%= image_tag current_user.avatar.url , :class =>"circle avatar responsive-img",:style=>"width:auto;height:100%"%>
           <%= f.label :remove_avatar do %>
            <%= f.check_box :remove_avatar %>
           <% end %>
          <% end %>
          <%= f.file_field :avatar%>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Upload profile picture">
        </div>
      </div>
    </div>

    <div class="input-field">
      <select name="user[soccer_role]">
        <option value="" disabled selected>Scegli il tuo ruolo..</option>
        <option value="0">Universale</option>
        <option value="1">Portiere</option>
        <option value="2">Difensore</option>
        <option value="3">Ala</option>
        <option value="4">Pivot</option>
      </select>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div><%= t(:currentlywaitingconfirmationfor)%> <%= resource.unconfirmed_email %></div>
    <% end %>


    <div class="input-field">
      <%= f.label :password, for: "password",class:"active"%>
      <% if @minimum_password_length %>
      <% end %>
      <%= f.password_field :password, autocomplete: "off",placeholder: :leaveitblankifyoudontwanttochangeit, class:"password"%>
    </div>

    <div class="input-field">
      <%= f.label :password_confirmation, for: "password-confirmation",class:"active"%>
      <%if resource.errors[:password_confirmation].present? %>
      <%= f.password_field :password_confirmation, placeholder: @minimum_password_length.to_s + " characters minimum",id:"password-confirmation", autocomplete: "off",class:"validate invalid",id:"password-confirmation"%>
      <span class="helper-text" data-error="password <%=resource.errors[:password_confirmation].to_s.delete('[""]')%>" data-success="riprova">Helper text</span>
      <%else%>
      <%= f.password_field :password_confirmation, placeholder: @minimum_password_length.to_s + " characters minimum",id:"password-confirmation", autocomplete: "off",id:"password-confirmation"%>
      <%end%>
    </div>

    <div class="input-field">
      <%= f.label :current_password, for: "current-password",class:"active"%>
      <%if resource.errors[:current_password].present? %>
      <%= f.password_field :current_password, placeholder: @minimum_password_length.to_s + " characters minimum",id: "current-password", autocomplete: "off",class:"validate invalid",id:"password-confirmation"%>
      <span class="helper-text" data-error="password <%=resource.errors[:current_password].to_s.delete('[""]')%>" data-success="riprova">Helper text</span>
      <%else%>
      <%= f.password_field :current_password, placeholder: :weneedyoutowritetheoldpassword, autocomplete: "off",id:"current-"%>
      <%end%>
    </div>

    </div>
    <div class="card-action">
      <%= link_to :back, :class => "white-text green darken-3 btn btn-flat left",style:"color:white !important" do%>
      Back <i class="material-icons left">chevron_left</i>
      <%end%>
      <%= f.submit t(:update), for:"edit_user",:class => "white-text btn green darken-3 btn-flat right"%><br><br>
    </div>
  <% end %>

<div class="divider"></div>
<div class="section card-content">
<h3><%= t(:cancel_account)%></h3><!--%= t(:tired)%-->
<%= button_to registration_path(resource_name), style:"background-color:red !important",data: { confirm: t(:areusure) }, method: :delete, :class =>"btn red" do%>
<%= t(:cancel)%><i class="material-icons left">cancel</i>
<%end%>
</div>
<!--%= render "devise/shared/links" %-->
</div>
</div>

<script>
var elems,instances;
  document.addEventListener('turbolinks:load', function() {

    elems = document.querySelectorAll('select');
    instances = M.FormSelect.init(elems, {});

  });
  document.addEventListener('turbolinks:before-cache', function() {
    elems = document.querySelector('select');

    if(elems){
      instances = M.FormSelect.getInstance(elems);
      if(instances){
        instances.destroy();
      }
    }
  });

</script>
