
<style>
.chart_class {
  width: 100%;
  min-height: 450px;
}
</style>
<div class="green darken-3" >
  <div style="padding:1em 0 1em 0">
    <div class="row show-on-medium-and-up hide-on-small-only valign-wrapper" style="margin:0px;height:100%">
      <div class="col offset-s2 s2 ">
        <% if @user.avatar.present?%>
        <%= image_tag @user.avatar, :class =>"right circle avatar responsive-img",:style=>"max-height:120px;max-width:120px;margin:1em; " %>
        <% else %>
        <% if @user.remote_avatar_url != nil%>
        <%= image_tag @user.remote_avatar_url, :class =>"right circle avatar responsive-img",:style=>"max-height:120px;max-width:120px;margin:1em; " %>
        <% end %>
        <% end %>
      </div>
      <div class="col s6 show-on-medium-and-up" style="margin:0px">
        <div class="row valign-wrapper">
          <div class="col s6">
            <h6><a class="white-text" href="<%=user_path(@user)%>"><%=@user.name%></a></h6>
          </div>
          <div class="col s6">
              <input type="hidden" class="follow-input" data-follower="<%=current_user.id%>" data-following="<%=@user.id%>"/>
              <% if current_user && @user == current_user%>
              <a href="<%= edit_user_registration_path %>"class="waves-effect waves-light btn-small white  green-text text-darken-3"><i class=" material-icons left">settings</i>Impostazioni</a>
              <% else %>
              <%if Follow.where(follower_id: current_user.id, following_id: @user.id).empty? == false%>
              <button  data-following="ok" class="follow-button waves-effect waves-light btn-small white  green-text text-darken-3"><i class=" material-icons left">check</i>Segui già</button>
              <%else%>
              <button data-following="no" class="follow-button waves-effect waves-light btn-small white  green-text text-darken-3"><i class=" material-icons left">add</i>Segui</button>
              <%end%>
              <%end%>
          </div>
        </div>
        <div class="row valign-wrapper">
          <div class="col s6">

          <span style="margin:0" class="white-text">Followers:<p style="font-weight: bold"><%=@user.followers.count%></p></span>
          </div>
          <div class="col s6">
            <span style="margin:0" class="white-text">Following:<p style="font-weight: bold"><%=@user.following.count%></p></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row show-on-small hide-on-med-and-up" style="margin:0;padding-bottom:1em;">
    <div class="col s3">
      <div class="row" style="margin:0">
        <div class="s12 center-align"><span class="white-text">followers:</span></div>
        <div class="s12 center-align"><h4 style="margin:0" class="white-text"><%=@user.followers.count%></h4></div>
      </div>
    </div>
    <div class="col s6 center-align">
      <% if @user.avatar.present?%>
      <%= image_tag @user.avatar, :class =>"circle avatar responsive-img",:style=>"width:64px;height:64px" %>
      <% else %>
      <% if @user.remote_avatar_url != nil%>
      <%= image_tag @user.remote_avatar_url, :class =>"circle avatar responsive-img",:style=>"width:64px;height:64px" %>
      <% end %>
      <% end %>
      <!--img src="https://pbs.twimg.com/profile_images/1011320337/Muppets-4624932-Funny-Cartoons.jpg" alt="" style="margin:1em" class="circle responsive-img"><br-->
      <h6 class="white-text"><%=@user.name%></h6>


      <!--p class="grey-text grey-darken-2"><%= @user.email %></p-->
      <input type="hidden" class="follow-input" data-follower="<%=current_user.id%>" data-following="<%=@user.id%>"/>
      <% if current_user && @user == current_user%>
      <a href="<%= edit_user_registration_path %>"class="waves-effect waves-light btn-small white  green-text text-darken-3"><i class=" material-icons">settings</i></a>
      <% else %>
      <%if Follow.where(follower_id: current_user.id, following_id: @user.id).empty? == false%>
      <button  data-following="ok" class="follow-button waves-effect waves-light btn-small white  green-text text-darken-3"><!--i class=" material-icons ">check</i-->Segui già</button>
      <%else%>
      <button data-following="no" class="follow-button waves-effect waves-light btn-small white  green-text text-darken-3"><!--i class=" material-icons left">add</i-->Segui</button>
      <%end%>
      <%end%>
    </div>
    <div class="col s3">
      <div class="row" style="margin:0">
        <div class="s12 center-align"><span class="white-text">following:</span></div>
        <div class="s12 center-align"><h4 style="margin:0" class="white-text"><%=@user.following.count%></h4></div>
      </div>
    </div>
  </div>
</div>

<div class="row white">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6 m3"><a href="#diario">DIARIO</a></li>
        <li class="tab col s6 m3"><a class="active" href="#statistiche">INFO</a></li>
        <li class="tab col s6 m3"><a href="#squadre">SQUADRE</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div id="diario" class="col offset-s1 s10 grey lighten-2">
      <div class="container">
        <ul id="" class="collection">
          <% id = 0 %>
          <% if @activity.empty? == false%>
            <% @activity.each do |activity| %>
              <%if activity.object.class.name == 'Match'%>
              <%= render partial: "items/activity_match", locals: {match:  activity.object, idmap: id, action:activity.action, date:activity.created_at,actor:@user}%>
              <% id = id+1%>
              <%elsif activity.object.class.name == 'FreeMatch'%>
              <%= render partial: "items/activity_free_match", locals: {free_match:  activity.object, idmap: id, action:activity.action, date:activity.created_at,actor:@user}%>
              <% id = id+1%>
              <%elsif activity.object.class.name == 'Team'%>
              <%= render partial: "items/activity_team", locals: {team:  activity.object, idmap: id, action:activity.action, date:activity.created_at,actor:@user}%>
              <%else%>
              <%end%>
            <% end %>
          <% end %>
      </div>
    </div>
    <div id="statistiche" class="col offset-s1 s10 grey lighten-2">
      <div class="container">
        <div class="section player-info-section">
          <div class="row">
            <div class="col s12">
              <div id="chart_div" class="chart_class"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="squadre" class="col offset-s1 s10 grey lighten-2">
      <div class="container">
        <ul class="collection collection-with-header">
          <% @user.teams.each do |team|%>
          <li class="collection-item avatar">
            <%if team.calcetto %>
            <span class="new badge " data-badge-caption="calcetto"></span>
            <% end %>
            <%if team.calciotto %>
            <span class="new badge " data-badge-caption="calciotto"></span>
            <% end %>
            <%if !team.calciotto && !team.calcetto %>
            <span class="new badge red" data-badge-caption="senza tipo"></span>
            <% end %>
            <%= image_tag team.avatar, :class =>"circle" %>
            <span class="title"><a href="<%=team_path(team)%>"><%=team.name%></a></span>
            <p>Partite: <%=team.matches.count%> <br>
               Membri: <%=team.users.count%><%if team.users.count == 1 && current_user && current_user.has_role?(:manager,team)%> (tu)<%end%>
            </p>

          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>

  if(window.google){
    initMap();
  } else{
    $.ajax('https://maps.googleapis.com/maps/api/js?key=AIzaSyCWh_byq1Enlj6gXyUks9uPvAMzscT4vTU&callback=initMap', {
      crossDomain: true,
      dataType: 'script'
    });
  }


  function initMap() {
    var numMatchItems = $('.free_match_item').length;
    var markers = [];
    var maps = [];
    $('.mi_item').each(function(i, obj) {
      var point = {lat: $(obj).data("la"), lng: $(obj).data("lo"), zoom: 17};
      var latlng = new google.maps.LatLng(point.lat, point.lng);
      geocoder = new google.maps.Geocoder();
      geocoder.geocode({
            'latLng': latlng
        }, function (results, status) {
            if (status ==
                google.maps.GeocoderStatus.OK) {
                if (results[1]) {
                    $(obj).find('p.address').html(''+results[1].formatted_address);
                } else {
                      console.log('No results found');
                }
            } else {
                  console.log('Geocoder failed due to: ' + status);
            }
        });
      maps[i] = new google.maps.Map($(this).find('#map-'+i)[0], {
          zoom: point.zoom,
          center: latlng,
          styles: [
              {
                  "featureType": "landscape",
                  "elementType": "all",
                  "stylers": [
                      {
                          "hue": "#FFA800"
                      },
                      {
                          "gamma": 1
                      }
                  ]
              },
              {
                  "featureType": "landscape.man_made",
                  "elementType": "all",
                  "stylers": [
                      {
                          "visibility": "on"
                      }
                  ]
              },
              {
                  "featureType": "landscape.man_made",
                  "elementType": "geometry",
                  "stylers": [
                      {
                          "visibility": "on"
                      }
                  ]
              },
              {
                  "featureType": "poi",
                  "elementType": "all",
                  "stylers": [
                      {
                          "hue": "#679714"
                      },
                      {
                          "saturation": 33.4
                      },
                      {
                          "lightness": -25.4
                      },
                      {
                          "gamma": 1
                      }
                  ]
              },
              {
                  "featureType": "poi.attraction",
                  "elementType": "all",
                  "stylers": [
                      {
                          "visibility": "off"
                      }
                  ]
              },
              {
                  "featureType": "poi.business",
                  "elementType": "all",
                  "stylers": [
                      {
                          "visibility": "off"
                      }
                  ]
              },
              {
                  "featureType": "poi.government",
                  "elementType": "all",
                  "stylers": [
                      {
                          "visibility": "off"
                      }
                  ]
              },
              {
                  "featureType": "poi.medical",
                  "elementType": "all",
                  "stylers": [
                      {
                          "visibility": "off"
                      }
                  ]
              },
              {
                  "featureType": "poi.park",
                  "elementType": "all",
                  "stylers": [
                      {
                          "visibility": "on"
                      }
                  ]
              },
              {
                  "featureType": "poi.place_of_worship",
                  "elementType": "all",
                  "stylers": [
                      {
                          "visibility": "off"
                      }
                  ]
              },
              {
                  "featureType": "poi.school",
                  "elementType": "all",
                  "stylers": [
                      {
                          "visibility": "off"
                      }
                  ]
              },
              {
                  "featureType": "poi.sports_complex",
                  "elementType": "all",
                  "stylers": [
                      {
                          "visibility": "on"
                      }
                  ]
              },
              {
                  "featureType": "road",
                  "elementType": "labels.text",
                  "stylers": [
                      {
                          "lightness": "65"
                      }
                  ]
              },
              {
                  "featureType": "road.highway",
                  "elementType": "all",
                  "stylers": [
                      {
                          "hue": "#53FF00"
                      },
                      {
                          "saturation": -73
                      },
                      {
                          "lightness": 40
                      },
                      {
                          "gamma": 1
                      }
                  ]
              },
              {
                  "featureType": "road.arterial",
                  "elementType": "all",
                  "stylers": [
                      {
                          "hue": "#FBFF00"
                      },
                      {
                          "gamma": 1
                      }
                  ]
              },
              {
                  "featureType": "road.local",
                  "elementType": "all",
                  "stylers": [
                      {
                          "hue": "#00FFFD"
                      },
                      {
                          "lightness": 30
                      },
                      {
                          "gamma": 1
                      }
                  ]
              },
              {
                  "featureType": "transit.station",
                  "elementType": "all",
                  "stylers": [
                      {
                          "visibility": "off"
                      }
                  ]
              },
              {
                  "featureType": "water",
                  "elementType": "all",
                  "stylers": [
                      {
                          "hue": "#00BFFF"
                      },
                      {
                          "saturation": 6
                      },
                      {
                          "lightness": 8
                      },
                      {
                          "gamma": 1
                      }
                  ]
              }
              ]
              });

      markers[i] = new google.maps.Marker({
          position: latlng,
          map: maps[i]
      });
    });
  };

</script>

<style>
  .tabs .tab a:focus, .tabs .tab a:focus.active{
    background-color: white;
  }
</style>

<!--Load the AJAX API-->
<script type="text/javascript">
//responsive charts
  $(window).resize(function(){
    if(document.getElementById('chart_div')){
      drawChart();
    }
  });

  var chart;
  function drawChart() {
    if(document.getElementById('chart_div')){
    var data;
    $.ajax({
      type: "GET",
      url: "/users/<%=@user.id%>/matches_info.json",
      dataType: "json",
      success: function(response, textStatus, jqXHR){
        data = new google.visualization.DataTable();
        data.addColumn('date', 'Time of Day');
        data.addColumn('number', 'Partite vinte');
        data.addColumn('number', 'Partite perse');
        var i= 0;
        $.each(response.won, function(m,c) {
          i++;
          var d;
          var lost = 0;
          var won = 0;
          won = c.length;
          d = new Date(m);
          won = c.length;
          if(!$.isEmptyObject(response.lost)){
            $.each(response.lost, function(m2,c2) {
              if(m2 == m){
                lost = c2.length;
                lost = c2.length;
                data.addRow([[d,won,lost]]);
              }else{
                data.addRows([[d,won,0]]);
              }
            });
          }else{
            data.addRows([[d,won,0]]);
          }
        });
        var options = {
          colors: ['#2E7D32', 'red'],
          title: 'Partite vinte / mese',
          hAxis: {
            title: 'Mesi',
            titleTextStyle: {color: '#333'},
            format: 'MMM',
            viewWindow: {
              min: new Date(new Date().getFullYear(), 0, 1),
              max: new Date
            }
          },
          vAxis: {
            viewWindow:{
              max:12,
              min:0
            },
            minValue: 0
          }
        };

        chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      },
      error: function(jqXHR, textStatus, errorThrown){
      }
    });

}
  }


  document.addEventListener('turbolinks:load', function() {
    if(document.getElementById('chart_div')){
      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});


      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
    }
  });
  document.addEventListener('turbolinks:before-cache', function(){
    if(document.getElementById('chart_div')){
      if(chart){
      }
    }
  });
</script>
