<div class="container">
  <div class="card section">
    <div class="row center-align" style="margin-top:1em">
        <div class="col s12">
          <a  class="breadcrumb grey-text text-lighten-1">Nuova Partita</a>
          <a  class="breadcrumb green-text text-darken-3">Tipologia</a>
        </div>
    </div>
    <form action="/matches/new" method="GET">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <div class="container">
        <div class="center-align section">
          <span>Prima di andare avanti è importante selezionare il tipo di partita</span>
        </div>
        <div class="row input-field">
          <p class="col offset-m3 m3 s12">
          <label class="">
            <input name="type" type="radio" value="calciotto" checked />
            <span>Calciotto</span>
          </label>
        </p>
        <p class="col m3 s12">
          <label class="">
            <input name="type" value="calcetto" type="radio" />
            <span>Calcetto</span>
          </label>
        </p>
        </div>
        <%= link_to root_path, class: "btn-small green darken-2" do %>
        Indietro<i class="material-icons left">chevron_left</i>
        <%end%>
        <%= button_tag(type: 'submit', class: "right green darken-2 btn-small waves-effect waves-light",name: 'action') do %>
          <i class="material-icons right">chevron_right</i> Procedi
        <% end %>
        </div>
    </form>
  </div>
</div>
