<div class="row">
  <div class="container">
    <br>
    <div class="card">
      <div class="card-header" style="margin:0;padding:0;height:100%">
        <!--div class="col s1 row" style="margin:0;padding:0">
          <div class="col s12" style="padding:0;margin:1em">
            <h6 class="center-align green-text text-darken-3"style="margin:0"><%=@match.date.strftime("%b").upcase%></h6>
            <h5 class="center-align black-text"style="margin:0"><%=@match.date.strftime("%d")%></h5>
          </div>
        </div-->
        <div class="row valign-wrapper" style="margin:0;padding:1em">
          <div class="col s4" >
            <a class="center-align" href="<%=team_path(@home_team)%>">
              <div class="row" style="margin:0">
                <div class="col s12">
                  <%= image_tag @home_team.avatar, :class =>"circle avatar responsive-img", :style =>"width:42px;height:42px"%>
                </div>
                <div class="col s12">
                  <span  class="truncate"><%=@home_team.name%></span>
                </div>
              </div>
            </a>
          </div>
          <div class="col s4 center-align " >
            <% if @match.home_score == nil %>
            <span>VS</span>

            <% else %>
            <h3><%=@match.home_score%> - <%=@match.host_score%></h3>
            <% end %>
          </div>
          <div class="col s4 " >
            <% if TeamNotification.where(actor: @home_team, action: "invited",notifiable: @match).empty? == false && @match.teams.count == 1 %>
            <a class="center-align">
              <div class="row" style="margin:0">
                <div class="col s12">
                  <%= image_tag @host_team.avatar, :class =>"circle avatar responsive-img", :style =>"width:42px;height:42px"%>
                </div>
                <div class="col s12">
                  <span  class="truncate"><%=@host_team.name%>???</span>
                </div>
              </div>
            </a>
            <%else%>
            <a class="center-align" href="<%=team_path(@host_team)%>">
              <div class="row" style="margin:0">
                <div class="col s12">
                  <%= image_tag @host_team.avatar, :class =>"circle avatar responsive-img", :style =>"width:42px;height:42px"%>
                </div>
                <div class="col s12">
                  <span  class="truncate"><%=@host_team.name%></span>
                </div>
              </div>
            </a>
            <%end%>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="section" style="padding:0 1em 0 1em">
        <p><i class="material-icons left">access_time</i><%=@match.date.strftime("%A %d/%B/%y - %H:%M")%></p>
        <p><i class="material-icons left">place</i><p class="address">Luogo con utilizzo Google Places API</p></p>
      </div>
      <div class="divider"></div>
      <div class="section" style="padding:0 1em 0 1em">
      </div>
      <!--div class="row">
        <div class="section">
        DESCRIZIONE IN FUTURO??
        </div>
      </div-->
      <div class="card-image">
        <div id="map" style="height:200px"></div>
      </div>
      <% if current_user && (current_user.has_role?(:manager, @home_team) || current_user.has_role?(:manager, @host_team)) && @match.home_score == nil %>
      <div class="card-action">
        <% if current_user.has_role?(:manager,@home_team) && @match.date.past? && @match.home_score == nil%>
        <% if @match.teams.count == 2 %>
        <%= link_to 'Segna Punteggio', set_match_score_path(@match) %>
        <% else %>
        <p class="btn-flat grey darken-2 white-text" style="color:white !important"><i class="material-icons left">hourglass_empty</i>In attesa di conferma"</p>
        <% end %>
        <% end %>
        <% if current_user.has_role?(:manager, @host_team) && @host_team.has_role?(:member,@match) == false %>
        <%= button_to accept_match_request_path(@match), method: :post, class: 'btn-flat btn-danger' do %>
        Accetta Invito
        <% end %>
        <%end%>
        <% if !@match.date.past? %>
        <%= link_to 'Modifica', edit_match_path(@match) , class: ''%>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  var marker;
  var map;
  function initMap() {
    var point = {lat: <%= @match.latitude%>, lng:<%= @match.longitude%>, zoom: 17};
    var geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(point.lat, point.lng);   // turn coordinates into an object
    geocoder.geocode({'latLng': latlng}, function (results, status){
      if(status == google.maps.GeocoderStatus.OK) {           // if geocode success
      console.log(results[0].formatted_address);
      $('p.address').html(results[0].formatted_address);
      }
    });
    map = new google.maps.Map($('#map')[0], {
        zoom: point.zoom,
        center: latlng,
        styles: [
            {
                "featureType": "landscape",
                "elementType": "all",
                "stylers": [
                    {
                        "hue": "#FFA800"
                    },
                    {
                        "gamma": 1
                    }
                ]
            },
            {
                "featureType": "landscape.man_made",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "landscape.man_made",
                "elementType": "geometry",
                "stylers": [
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "all",
                "stylers": [
                    {
                        "hue": "#679714"
                    },
                    {
                        "saturation": 33.4
                    },
                    {
                        "lightness": -25.4
                    },
                    {
                        "gamma": 1
                    }
                ]
            },
            {
                "featureType": "poi.attraction",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "poi.business",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "poi.government",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "poi.medical",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "poi.park",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "poi.place_of_worship",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "poi.school",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "poi.sports_complex",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "labels.text",
                "stylers": [
                    {
                        "lightness": "65"
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "all",
                "stylers": [
                    {
                        "hue": "#53FF00"
                    },
                    {
                        "saturation": -73
                    },
                    {
                        "lightness": 40
                    },
                    {
                        "gamma": 1
                    }
                ]
            },
            {
                "featureType": "road.arterial",
                "elementType": "all",
                "stylers": [
                    {
                        "hue": "#FBFF00"
                    },
                    {
                        "gamma": 1
                    }
                ]
            },
            {
                "featureType": "road.local",
                "elementType": "all",
                "stylers": [
                    {
                        "hue": "#00FFFD"
                    },
                    {
                        "lightness": 30
                    },
                    {
                        "gamma": 1
                    }
                ]
            },
            {
                "featureType": "transit.station",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "water",
                "elementType": "all",
                "stylers": [
                    {
                        "hue": "#00BFFF"
                    },
                    {
                        "saturation": 6
                    },
                    {
                        "lightness": 8
                    },
                    {
                        "gamma": 1
                    }
                ]
            }
            ]
            });

    marker= new google.maps.Marker({
        position: latlng,
        map: map
    });
  };

  if(window.google){
    initMap();
  } else{
    $.ajax('https://maps.googleapis.com/maps/api/js?key=AIzaSyCWh_byq1Enlj6gXyUks9uPvAMzscT4vTU&callback=initMap', {
      crossDomain: true,
      dataType: 'script'
    });
  }
</script>
