<li class="collection-item avatar">
  <% if user.avatar.present?%>
  <%= image_tag user.avatar, :class =>"circle avatar" %>
  <% else %>
  <% if user.remote_avatar_url != nil%>
  <%= image_tag user.remote_avatar_url, :class =>"circle avatar " %>
  <% end %>
  <% end %>
  <span class="title">
    <%= link_to user.name, user_path(user), :class =>"green-text text-darken-2" %>
  </span>
  <span class="new badge" data-badge-caption="<%=user.get_soccer_role%>"></span>
  <p>followers: <%=user.followers.count%></p>
  <p>following: <%=user.following.count%></p>
</li>
