<!DOCTYPE html>
<html>
  <head>
    <title>Dribbler</title>
    <%= csrf_meta_tags %>
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Links -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/solid.css" integrity="sha384-VxweGom9fDoUf7YfLTHgO0r70LVNHP5+Oi8dcR4hbEjS8UnpRtrwTx7LpHq/MWLI" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

    <script type="text/javascript" src="https://unpkg.com/default-passive-events"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div class="valign-wrapper green darken-3" style="width:100%;position:absolute;height:100%">
      <div class="row center-align" style="width:100%">
        <h2 class="col s12 white-text" style="font-family: 'Pacifico', cursive;font-size:2em">Dribbler</h2>
        <i class=" col s12 large  icon-soccer-court" style="color: white !important"></i>
        <a href="<%=new_user_session_path%>" class="btn-flat white-text green darken-3">entra</a>
      </div>
    </div>
  </body>
</html>
